# Importar Pandas y Cargar el Dataset

In [2]:
import pandas as pd

# Cargar el dataset desde el archivo CSV
df = pd.read_csv("ocde_data_education_unfiltered.csv")

# Verificar los nombres de las columnas y las primeras filas para entender la estructura
print("Nombres de las columnas en el DataFrame:")
print(df.columns)

# Mostrar las primeras filas para visualizar el contenido
df.head()

Nombres de las columnas en el DataFrame:
Index(['Frequency', 'Territorial Level', 'Location', 'Territorial Typology',
       'Measure', 'Age', 'Sex', 'Education Level', 'Statistical Operation',
       'Unit Measure', 'Year', 'Value'],
      dtype='object')

,Frequency,Territorial Level,Location,Territorial Typology,Measure,Age,Sex,Education Level,Statistical Operation,Unit Measure,Year,Value
0,0,0,0,0,0,0,0,0,0,0,0,1.409
1,0,0,0,0,0,0,0,0,0,0,1,1.176
2,0,0,0,0,0,0,0,0,0,0,2,1.187
3,0,0,0,0,0,0,0,0,0,0,3,1.022
4,0,0,0,0,0,0,0,0,0,0,4,1.277

# Identificación de Valores Faltantes

In [4]:
# Verificar la cantidad de valores faltantes en cada columna
print("Valores faltantes por columna:")
print(df.isnull().sum())

Valores faltantes por columna:
Frequency                0
Territorial Level        0
Location                 0
Territorial Typology     0
Measure                  0
Age                      0
Sex                      0
Education Level          0
Statistical Operation    0
Unit Measure             0
Year                     0
Value                    0
dtype: int64

# Identificar valores únicos en columnas específicas

In [6]:
# Verificar los valores únicos en la columna 'Education Level'
print("Valores únicos en la columna 'Education Level':")
print(df['Education Level'].unique())

Valores únicos en la columna 'Education Level':
[0 1 2 3 4 5 6 7]

# Mapeo de la Columna Education Level

In [8]:
# Mapeo de valores numéricos a descripciones textuales basadas en ISCED
education_level_mapping = {
    0: "Preprimaria",
    1: "Educación Primaria",
    2: "Educación Secundaria Inferior",
    3: "Educación Secundaria Superior",
    4: "Educación Postsecundaria No Terciaria",
    5: "Educación Terciaria - Nivel Corto",
    6: "Grado de Licenciatura o Equivalente",
    7: "Maestría, Doctorado o Nivel Equivalente"
}

# Reemplazar los valores en la columna 'Education Level' con las descripciones textuales
df['Education Level'] = df['Education Level'].map(education_level_mapping)

# Verificar los cambios en la columna
print("Valores de 'Education Level' después del mapeo:")
print(df['Education Level'].unique())

# Visualizar las primeras filas del DataFrame después del mapeo
df.head()

Valores de 'Education Level' después del mapeo:
['Preprimaria' 'Educación Primaria' 'Educación Secundaria Inferior'
 'Educación Secundaria Superior' 'Educación Postsecundaria No Terciaria'
 'Educación Terciaria - Nivel Corto' 'Grado de Licenciatura o Equivalente'
 'Maestría, Doctorado o Nivel Equivalente']

,Frequency,Territorial Level,Location,Territorial Typology,Measure,Age,Sex,Education Level,Statistical Operation,Unit Measure,Year,Value
0,0,0,0,0,0,0,0,Preprimaria,0,0,0,1.409
1,0,0,0,0,0,0,0,Preprimaria,0,0,1,1.176
2,0,0,0,0,0,0,0,Preprimaria,0,0,2,1.187
3,0,0,0,0,0,0,0,Preprimaria,0,0,3,1.022
4,0,0,0,0,0,0,0,Preprimaria,0,0,4,1.277

# Identificar Valores Únicos en Todas las Columnas

In [10]:
# Verificar valores únicos en columnas clave para determinar si los ceros representan valores válidos o si son placeholders
print("Valores únicos en la columna 'Frequency':", df['Frequency'].unique())
print("Valores únicos en la columna 'Territorial Level':", df['Territorial Level'].unique())
print("Valores únicos en la columna 'Location':", df['Location'].unique())
print("Valores únicos en la columna 'Territorial Typology':", df['Territorial Typology'].unique())
print("Valores únicos en la columna 'Measure':", df['Measure'].unique())
print("Valores únicos en la columna 'Age':", df['Age'].unique())
print("Valores únicos en la columna 'Sex':", df['Sex'].unique())
print("Valores únicos en la columna 'Statistical Operation':", df['Statistical Operation'].unique())
print("Valores únicos en la columna 'Unit Measure':", df['Unit Measure'].unique())
print("Valores únicos en la columna 'Year':", df['Year'].unique())

Valores únicos en la columna 'Frequency': [0]
Valores únicos en la columna 'Territorial Level': [0 1 2]
Valores únicos en la columna 'Location': [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899
 900 901]
Valores únicos en la columna 'Territorial Typology': [0]
Valores únicos en la columna 'Measure': [0]
Valores únicos en la columna 'Age': [0 1]
Valores únicos en la columna 'Sex': [0 1 2]
Valores únicos en la columna 'Statistical Operation': [0 1]
Valores únicos en la columna 'Unit Measure': [0]
Valores únicos en la columna 'Year': [ 0  1  2  3  4  5  6  7  8  9 10]

# Eliminar Columnas sin Datos

In [12]:
# Eliminar columnas irrelevantes que solo contienen el valor 0
df = df.drop(columns=['Frequency', 'Territorial Typology', 'Measure', 'Unit Measure'])

# Mostrar las primeras filas después de eliminar columnas para verificar cambios
print("DataFrame después de eliminar columnas irrelevantes:")
print(df.head())

# Valores únicos en 'Location', 'Age', 'Sex', y 'Year' para verificación adicional
print("Valores únicos en la columna 'Location':", df['Location'].unique())
print("Valores únicos en la columna 'Age':", df['Age'].unique())
print("Valores únicos en la columna 'Sex':", df['Sex'].unique())
print("Valores únicos en la columna 'Year':", df['Year'].unique())

DataFrame después de eliminar columnas irrelevantes:
   Territorial Level  Location  Age  Sex Education Level  \
0                  0         0    0    0     Preprimaria
1                  0         0    0    0     Preprimaria
2                  0         0    0    0     Preprimaria
3                  0         0    0    0     Preprimaria
4                  0         0    0    0     Preprimaria

   Statistical Operation  Year  Value
0                      0     0  1.409
1                      0     1  1.176
2                      0     2  1.187
3                      0     3  1.022
4                      0     4  1.277
Valores únicos en la columna 'Location': [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899
 900 901]
Valores únicos en la columna 'Age': [0 1]
Valores únicos en la columna 'Sex': [0 1 2]
Valores únicos en la columna 'Year': [ 0  1  2  3  4  5  6  7  8  9 10]

# Mapeo de Columnas Age y Sex

In [14]:
# Mapeo para la columna 'Age'
age_mapping = {
    0: "Grupo de Edad 1",  
    1: "Grupo de Edad 2"
}
df['Age'] = df['Age'].map(age_mapping)

# Mapeo para la columna 'Sex'
sex_mapping = {
    0: "Desconocido",  
    1: "Masculino",
    2: "Femenino"
}
df['Sex'] = df['Sex'].map(sex_mapping)

# Verificar los cambios en las columnas
print("Valores únicos en la columna 'Age' después del mapeo:", df['Age'].unique())
print("Valores únicos en la columna 'Sex' después del mapeo:", df['Sex'].unique())

Valores únicos en la columna 'Age' después del mapeo: ['Grupo de Edad 1' 'Grupo de Edad 2']
Valores únicos en la columna 'Sex' después del mapeo: ['Desconocido' 'Masculino' 'Femenino']

# Mapeo de Columna Year

In [16]:
# Mapeo de la columna 'Year' asumiendo que 0 corresponde a 2013, lo sabemos gracias a la documentación de la API
year_mapping = {i: 2013 + i for i in range(11)}
df['Year'] = df['Year'].map(year_mapping)

# Verificar el cambio en la columna 'Year'
print("Valores únicos en la columna 'Year' después del mapeo:", df['Year'].unique())

Valores únicos en la columna 'Year' después del mapeo: [2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]

# Convertir valores para evitar errores de conversión

In [18]:
# Convertir la columna 'Value' a numérico y eliminar posibles errores de conversión
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

In [19]:
# Convertir la columna 'Year' a int si aún no lo está
df['Year'] = df['Year'].astype(int)

# Eliminar Filas con Valores Nulos

In [21]:
# Eliminar filas con valores nulos en columnas críticas
df = df.dropna(subset=['Location', 'Value', 'Year'])

# Verificar limpieza de DataFrame

In [23]:
# Verificación final de la estructura del DataFrame
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215469 entries, 0 to 215468
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Territorial Level      215469 non-null  int64
 1   Location               215469 non-null  int64
 2   Age                    215469 non-null  object
 3   Sex                    215469 non-null  object
 4   Education Level        215469 non-null  object
 5   Statistical Operation  215469 non-null  int64
 6   Year                   215469 non-null  int64
 7   Value                  215469 non-null  float64
dtypes: float64(1), int64(4), object(3)
memory usage: 13.2+ MB
None
   Territorial Level  Location              Age          Sex Education Level  \
0                  0         0  Grupo de Edad 1  Desconocido     Preprimaria
1                  0         0  Grupo de Edad 1  Desconocido     Preprimaria
2                  0         0  Grupo de Edad 1  Desconocido     Preprimaria
3                  0         0  Grupo de Edad 1  Desconocido     Preprimaria
4                  0         0  Grupo de Edad 1  Desconocido     Preprimaria

   Statistical Operation  Year  Value
0                      0  2013  1.409
1                      0  2014  1.176
2                      0  2015  1.187
3                      0  2016  1.022
4                      0  2017  1.277

In [24]:
# Exportar el DataFrame limpio a un archivo CSV
df.to_csv('ocde_data_education_cleaned.csv', index=False)

print("El archivo se ha guardado como 'ocde_data_education_cleaned.csv'")

El archivo se ha guardado como 'ocde_data_education_cleaned.csv'

# Nuevo Mapeo d ela Columna Age (con info de la "description")

In [25]:
# nuevo mapeo de la columana Age con la info de la "decription" del dataset
# Grupo de Edad 1: Representa el rango de 25 a 34 años.
# Grupo de Edad 2: Representa el rango de 25 a 64 años.
# Actualizar el mapeo en la columna 'Age' para reflejar los rangos de edad correctos

age_mapping = {
    "Grupo de Edad 1": "25-34 años",
    "Grupo de Edad 2": "25-64 años"
}
df['Age'] = df['Age'].map(age_mapping)

# Verificar los cambios en la columna 'Age'
print("Valores únicos en la columna 'Age' después del mapeo:", df['Age'].unique())

Valores únicos en la columna 'Age' después del mapeo: ['25-34 años' '25-64 años']

# Exportar DataFrame limpio a CSV

In [26]:
# Exportar el DataFrame actualizado a un archivo CSV
df.to_csv('ocde_data_nivel_de_educacion_y_edades_vr_empleabilidad_cleaned.csv', index=False)

print("El archivo se ha guardado como 'ocde_data_nivel_de_educacion_y_edades_vr_empleabilidad_cleaned.csv'")

El archivo se ha guardado como 'ocde_data_nivel_de_educacion_y_edades_vr_empleabilidad_cleaned.csv'